@import "../base/vars";

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 1em;

  color: $clr_white;
  font-size: 0.9em;
  opacity: 0.8;

  .done {
    color: $clr_text2;
  }

  & li {
    padding: 5px;

    border-radius: 10px;
    cursor: pointer;

    &:hover {
      color: $clr_text2;
      opacity: 0.5;

      background-color: $clr_black;
    }

    &:active {
      background-color: inherit;
      opacity: 1;
    }

    &.active {
      color: $clr_text2;
      background-color: inherit;
      opacity: 1;
    }
  }
}
