@import "../base/vars";

.checkbox {
  display: inline-block;
  width: 1em;
  height: 1em;
  min-width: 1em;

  margin-right: 0.5em;
  background-color: $clr_white;
  border: 2px solid $clr_white;
  border-radius: 4px;
}
