@import "../base/vars";

.list {
  list-style: none;
  padding: 1rem;
  min-width: 320px;
}

.active {
  margin: 0 2em;

  box-shadow: 0 4px 16px $clr_grey;
  outline: 1px solid $clr_grey;
  border-radius: 10px;
}
