@import "../base/vars";

.list__todo {
  width: auto;
  margin-bottom: 1em;
  padding: 0.5em;

  text-align: start;
  position: relative;

  border-radius: 10px;

  background-color: $clr_todo;
  box-shadow: 0 4px 8px $clr_brown;

  animation: todo 1s forwards;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .list__todo-text {
    color: #fff;
  }

  &.completed {
    opacity: 0.5;
  }
}

.todo__text {
  display: flex;
  align-items: center;

  color: $clr_text1;
  margin-right: 2em;

  cursor: pointer;
  height: auto;
}

.isChecked {
  color: $clr_text1;

  & span {
    text-decoration: line-through;

    color: $clr_black;
    transition: all 0.5s;
  }
}

@keyframes todo {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
