@import "../App/vars";

.list {
  list-style: none;
  padding: 1rem;
  min-width: 320px;

  &__title {
    color: $clr_white;
    opacity: 0.8;

    padding-bottom: 1em;
    letter-spacing: 2px;
  }
}

.active {
  margin: 0 2em;

  box-shadow: 0 4px 16px $clr_grey;
  outline: 1px solid $clr_grey;
  border-radius: 10px;

  animation: todo 1s forwards;
}

@keyframes todo {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0);
  }
}
