// Скрываем изначальный чекбокс для кастомизации
input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  height: 1px;
  width: 1px;

  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.isChecked {
  color: rgb(204, 214, 246);

  & span {
    text-decoration: line-through;

    color: rgb(10, 25, 47);
    transition: all 0.3s;
  }
}

.checkbox {
  display: inline-block;
  width: 1em;
  height: 1em;

  margin-right: 0.5em;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
}
