.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  width: 100vw;
  height: 100vh;
  overflow-y: auto;

  background-color: rgb(136, 146, 176);
  font-family: inherit;
}

.app__input {
  margin: 3rem;

  padding: 0.75rem;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;

  position: relative;

  display: flex;
  justify-content: space-between;
  width: 80%;
}

.app__input_btn {
  width: 20%;
  min-width: 6em;
  padding: 0.5rem;
  margin-left: 1rem;

  font-size: 0.9em;

  color: rgb(204, 214, 246);
  background-color: rgb(10, 25, 47);

  border-radius: 15px;
}

.app__input_btn:hover span {
  color: rgb(100, 255, 218);
  opacity: 0.6;
}

.app__input_text {
  width: 100%;

  outline: none;
  border: none;
  border-bottom: 1px solid rgb(204, 214, 246);
  color: rgb(204, 214, 246);
  background-color: transparent;

  z-index: 1;

  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.app__input_text:focus {
  border-bottom: 1px solid rgba(100, 255, 218, 0.5);
  opacity: 0.8;
  color: #fff;
}

.app__input_content {
  position: absolute;
  left: 3%;
  top: 40%;

  font-size: 14px;
  color: rgb(204, 214, 246);
  transition: all 0.3s ease-in-out;
}

.app__input_text:focus + .app__input_content,
.app__input_text:not(:placeholder-shown) + .app__input_content {
  top: 10%;
  opacity: 0.5;

  color: rgb(100, 255, 218);
  font-size: 12px;
}

.app__list {
  list-style: none;

  padding: 1rem;
}

.app__list_todo {
  width: auto;
  margin-bottom: 1em;
  padding: 0.5em;

  text-align: start;
  position: relative;

  border-radius: 10px;

  background-color: rgb(155, 9, 155);
  box-shadow: 0 4px 8px rgb(67 21 67);
  opacity: 0.6;
}

.app__list_todo:last-child {
  margin-bottom: 0;
}

.app__list_todo:hover .app__list_todo-text {
  color: #fff;
}

.app__list_todo-checkbox {
  margin-right: 0.5em;
}

.app__list_todo-text {
  display: flex;
  align-items: center;

  color: rgb(204, 214, 246);
  margin-right: 2em;

  cursor: pointer;
  height: auto;
}

.isChecked {
  color: rgb(100, 255, 218);
}

.isChecked .app__list_todo-close {
  color: rgb(204, 214, 246);
}

.isChecked:hover .app__list_todo-close {
  color: #fff;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  height: 1px;
  width: 1px;

  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.checkbox {
  display: inline-block;
  width: 1em;
  height: 1em;

  margin-right: 0.5em;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
}

input:checked + span {
  text-decoration: line-through;

  color: rgb(100, 255, 218);
  transition: all 0.3s;
}

.app__list_todo-close {
  position: absolute;
  top: 35%;
  right: 10px;

  cursor: pointer;
}

.app__list_todo-close:hover {
  fill: rgb(10, 25, 47);
}
