// Colors
$clr_bg: rgb(136, 146, 176);
$clr_white: rgb(255, 255, 255);
$clr_white2: rgba(255, 255, 255, 0.8);
$clr_black: rgb(10, 25, 47);
$clr_brown: rgb(67, 21, 7);
$clr_grey: rgb(204, 204, 204);
$clr_todo: rgb(141, 30, 141);
$clr_text1: rgb(204, 214, 246);
$clr_text2: rgb(100, 255, 218);
$clr_success: rgba(9, 180, 140, 0.6);
$clr_delete: rgba(141, 30, 141, 0.6);
